.role-3UN8jj.role-1P70N6 { /* Roles on the start of channels */
  background-color: transparent;
  border: 2px solid transparent;
}

.contents-18-Yxp { /* Roles on the start of channels */
  border: 2px solid transparent;
}

.body-2Enz7L.hasSplash-200jeH { /* Server preview overlay */
  background-color: transparent;
}

.guildPopout-3CgKqR { /* Server preview overlay */
  background-color: transparent;
  border: 2px solid transparent;
}



/*! Советская☭Электрификация v.Soviet 3 by Red Tsar Redreovich */
/*! Powered by Pure Stalinium */


Советская☭Электрификация
v.Soviet 3
